#top{
    width: 100%;
    height: 610px;  
    background-image: url("../img/Group\ 1.png");
    background-position: center;
    
   
      
}
#logo2{
    height: 50px;
    width: 80px;
    
}
.navbar-toggler {
  position:absolute;
  right: 10px;
  top: 10px;
}
.navbar-nav{
   
}

.text-white{
   font-weight: bold;
}

.nav-item::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: rgb(26, 221, 189);
    transition: width 1s; 
}
.nav-item:hover::after{
    width: 113px;
    transition: width .3s;
    color: black;
}
span{
    color: turquoise;
}

#linge{
    position: absolute;
   
}
.fa{
    color: white;
    width: 20px;
    height: 20px;

}
.glyphicon{
    color: white;
}

